@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root{
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);

    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Very-dark-blue: hsl(235, 16%, 14%);
    --Very-dark-mostly-black-blue: hsl(234, 17%, 12%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Red Hat Text', sans-serif;
    background-color:var(--Very-dark-blue);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.container h1{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 50px;
}

.countdown{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.countdown div {
    margin: 10px;
}


.countdown p{
    padding: 20px;
    color: var(--Soft-red);
    background-color: var(--Dark-desaturated-blue);
    border-radius: 5px;
    font-size: 24px;
}


.countdown h3{
    margin-top: 20px;
    color: var(--Grayish-blue);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
}

.social-media{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
}

.social-media ul{
    display: flex;

}

.social-media ul li{
    margin: 0 20px;
}

.stars{
    position: absolute;
}

.hills{
    position: absolute;
    bottom: 0;
}
img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}


@media (min-width: 1440px){
    .stars img, .hills img{
        width: 1600px;
    }
}
/* @media (max-width:500px){
    .container
} */

@media (min-width: 1600px){
    .stars img, .hills img{
        width: 1920px;
    }
}
